# ignore credential files
*credentials*

# ignore software that could contain private keys or sensitive information (just in case)
argocd/
expressvpn/
gcloud/
gh/
github-copilot/
helm/

# ignore log files
*.log

# ignore backup files
*.bak

# ignore fish plugins with embedded git repositories
dot_config/fish/fish-kube-prompt

# ignore macos files
.DS_Store

# ignore compiled fish files
fish_variables

# ignore nvim files
dot_config/nvim/lazyvim.json
dot_config/nvim/nvim/

# ignore tmux plugins with embedded git repositories
dot_config/tmux/plugins/

# ignore fzf history
fzf

# ignore raycast extensions
dot_config/raycast/extensions

# k9s
dot_config/k9s/aliases.yaml
dot_config/k9s/benchmarks/
dot_config/k9s/clusters/
dot_config/k9s/screen-dumps/

# zsh
.zsh_history
config.local.env
dot_config/cy/skills/*/
