# ignore credential files
*credentials*

# ignore software that could contain private keys or sensitive information
argocd/
expressvpn/
gcloud/
gh/
github-copilot/
helm/

# ignore log files
*.log

# ignore backup files
*.bak

# ignore tmux plugins with embedded git repositories
./tmux/plugins/

# ignore fish plugins with embedded git repositories
./fish/fish-kube-prompt

# ignore macos files
.DS_Store

fish_variables
./fish
./nvim/lazy-lock.json
./nvim/lazyvim.json


./tmux/plugins/
