# ignore credential files
*credentials*

# ignore software that could contain private keys or sensitive information
argocd/
expressvpn/
gcloud/
gh/
github-copilot/
helm/

# ignore log files
*.log

# ignore backup files
*.bak

# ignore fish plugins with embedded git repositories
./fish/fish-kube-prompt

# ignore macos files
.DS_Store

# ignore compiled fish files
fish_variables
./fish

# ignore nvim lock/json files
./nvim/lazy-lock.json
./nvim/lazyvim.json

# ignore tmux plugins with embedded git repositories
tmux/plugins/
